<div class="container">
    <div *ngIf="!isRegistrantMode">
        <button [disabled]="!authorizationService.isLoggedIn()" type="button" class="btn  btn-success "
            (click)="logout()">Logout</button>
    </div>
    <!-- <div *ngIf="authorizationService.isLoggedIn()" (click)="logout()">Logout</div> -->
    <!-- MAKE APPOINTMENT-->
    <div class=" col-12 mb-4 text-center">
        <button [disabled]="isMakeAnAppointmentMode || patient.isAvailable==false " (click)="openAppointmentForm()"
            class="btn btn-primary ms-2 me-4">Make an appointment</button> 
    </div>
    <div>
        <h3 class="my-4" *ngIf="isMakeAnAppointmentMode">Make an appointment</h3>
        <form [formGroup]="chooseSpecialisationForm" *ngIf="isMakeAnAppointmentMode">
            <div class="form-group mb-3">
                <label for="specialisation">Specialisation:</label>
                <select id="specialisation" class="form-control" formControlName="specialisationId">
                    <option *ngFor="let specialisation of specialisations" [value]="specialisation.id">
                        {{ specialisation.name }}
                    </option>
                </select>
            </div>
            <!-- <div class="d-flex justify-content-center mb-4"> -->
            <div class="d-flex justify-content-center mb-5 mt-5">
                <button [disabled]="isDisabled" type="button" class="btn btn-primary float-right mx-2"
                    (click)="search()">Search medical appointments with specilisation id:
                    {{formSpecialisationId.value}}</button>
                <button (click)="cancelAppointmentForm()" class="btn btn-outline-secondary">Cancel</button>
            </div>
            //do zrobienia ESTETYCZNIE!!!!!

            <div *ngFor="let medicalAppointment of medicalAppointments">
                <span>{{ medicalAppointment.id }} - Doctor ID: {{ medicalAppointment.doctorId }} - Time:
                    {{medicalAppointment.dateTime}}</span>
                <button [disabled]="medicalAppointment.patientId != 0"
                    (click)="chooseAppointment(medicalAppointment.id)" class="btn btn-success">Select</button>
            </div>
        </form>

    </div>


    <h3 class="my-4">Your appointments</h3>
    Future appointment
    <!-- GET ALL-->
    <div class="d-flex justify-content-center mx-5 px-5 mb-5">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Time

                    </th>
                    <th>
                        Doctor Id

                    </th>
                    <th>

                    </th>
                </tr>

            </thead>
            <tbody>
                <tr *ngFor="let futureAppointment of allMedicalAppointments.futureMedicalAppointments">
                    <td>
                        {{futureAppointment.dateTime}}
                    </td>
                    <td>
                        {{futureAppointment.doctorId}}
                    </td>
                    <td class="text-end">
                        <button type="button" class="btn btn-outline-danger mx-2" [disabled]="isMakeAnAppointmentMode"
                            (click)="cancel(futureAppointment)">Cancel</button>
                    </td>
                </tr>
                <tr *ngIf="allMedicalAppointments.futureMedicalAppointments.length === 0">
                    <td colspan="8">No future medical appointments</td>
                </tr>
            </tbody>
        </table>
    </div>

    Past appointment
    <div class="d-flex justify-content-center mx-5 px-5 mb-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Time
                    </th>
                    <th>
                        Doctor Id
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pastAppointment of allMedicalAppointments.pastMedicalAppointments">
                    <td>
                        {{pastAppointment.dateTime}}
                    </td>
                    <td>
                        {{pastAppointment.doctorId}}
                    </td>
                </tr>
                <tr *ngIf="allMedicalAppointments.pastMedicalAppointments.length === 0">
                    <td colspan="8">No past medical appointments</td>
                </tr>
            </tbody>
        </table>
    </div>

    <a *ngIf="isRegistrantMode" [routerLink]="['/registrant-patients']" class="btn btn-secondary">Return</a>
</div>