<a [routerLink]="['/registrant']" class="btn btn-secondary my-4">Return</a>

<div class=" col-12 mb-4 text-center">
    <button [disabled]="isAddingMode" (click)="openAppointmentForm()" class="btn btn-primary">Add new medical
        appointment</button>
</div>

<div>
    <h3 class="my-4" *ngIf="isAddingMode">Add new medical appointment</h3>
    <form [formGroup]="medicalAppointmentForm" *ngIf="isAddingMode" class="w-50 mx-auto">
        <div class="formGroup mb-3">
            <label class="form-label" for="doctor">Doctor</label>
            <select id="doctor" class="form-control" formControlName="doctorId">
                <option *ngFor="let doctor of doctors" [value]="doctor.id">
                    {{ doctor.name }}
                    {{doctor.surname}}
                </option>
            </select>
            <div *ngIf="medicalAppointmentForm.get('doctorId')?.invalid && medicalAppointmentForm.get('doctorId')?.touched"
                class="invalid-feedback">
                <span *ngIf="medicalAppointmentForm.get('doctorId')?.errors?.['required']">Doctor is required</span>
            </div>
        </div>
        <div class="formGroup mb-3">
            <label class="d-block form-label">Date</label>
            <div class="d-flex align-items-center justify-content-center">
                <div class="input-group me-2">
                    <input formControlName="date" ngbDatepicker #formMedicalAppointmentDatePicker="ngbDatepicker"
                        class="form-control" aria-label="date"
                        [class.is-invalid]="medicalAppointmentForm.get('date')?.invalid && (medicalAppointmentForm.get('date')?.touched || medicalAppointmentForm.get('date')?.dirty)"
                        [readOnly]="true" placeholder="YYYY-MM-DD">
                    <!-- [class.is-invalid]="formMedicalAppointmentDate.invalid" -->
                    <a class="btn btn-outline-secondary pi pi-calendar"
                        (click)="formMedicalAppointmentDatePicker.toggle()" type="button">Select date</a>
                </div>
                <ngb-timepicker formControlName="time" [spinners]="true" [seconds]="false" [hourStep]="1"
                    [minuteStep]="1"
                    [class.is-invalid]="medicalAppointmentForm.get('time')?.invalid && (medicalAppointmentForm.get('time')?.touched || medicalAppointmentForm.get('time')?.dirty)">
                </ngb-timepicker>
            </div>
            <!-- Komunikaty o błędach dla pola date -->
            <div *ngIf="medicalAppointmentForm.get('date')?.errors?.['required'] && medicalAppointmentForm.get('date')?.touched"
                class="invalid-feedback">
                <span>Date is required</span>
            </div>
            <div *ngIf="medicalAppointmentForm.get('date')?.errors?.['notFutureOrToday'] && medicalAppointmentForm.get('date')?.touched"
                class="invalid-feedback">
                <span>Selected date must be today or in the future</span>
            </div>

            <!-- Komunikaty o błędach dla pola time -->
            <div *ngIf="medicalAppointmentForm.get('time')?.errors?.['required'] && medicalAppointmentForm.get('time')?.touched"
                class="invalid-feedback">
                <span>Time is required</span>
            </div>

            <!-- Komunikat o błędzie grupowym (date i time są wymagane) -->
            <div *ngIf="medicalAppointmentForm.errors?.['dateTimeRequired'] && (medicalAppointmentForm.touched || medicalAppointmentForm.dirty)"
                class="invalid-feedback">
                <span>Both date and time are required.</span>
            </div>
        </div>

        <!-- <div class="invalid-feedback">
            <span *ngIf="formMedicalAppointmentDate.get('dateTime')?.errors?.['required']">Required</span>
        </div> -->
        <div>
            <div class="d-flex justify-content-center mb-5 mt-5">
                <button type="button" class="btn btn-primary float-right mx-2"
                    (click)="addMedicalAppointment()">Save</button>
                <button (click)="cancelAdding()" class="btn btn-outline-secondary">Cancel</button>
            </div>
        </div>
    </form>
</div>




<!-- GET ALL -->






<div class=" col-12 mt-5 mb-5 text-center">
    <button [disabled]="isShowingAllAppointmentsMode" (click)="showAllAppointments()" class="btn btn-primary">Show all
        appointments</button>

</div>
<h3 class="my-4" *ngIf="isShowingAllAppointmentsMode">All appointments</h3>

<div *ngIf="isShowingAllAppointmentsMode" class="d-flex justify-content-center mx-5 px-5 mb-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Medical appointment Id
                </th>
                <th>
                    Doctor Id
                </th>
                <th>
                    Patient Id
                </th>
                <th>
                    Time
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let medicalAppointment of medicalAppointments">
                <td>
                    {{medicalAppointment.id}}
                </td>
                <td>
                    {{medicalAppointment.doctorId}}
                </td>
                <td>
                    {{medicalAppointment.patientId}}
                </td>
                <td>
                    {{medicalAppointment.dateTime}}
                </td>
                <td class="text-end">
                    <!-- <button type="button" class="btn  btn-success float-right" (click)="edit(medicalAppointment)">Edit</button> -->
                    <button type="button" [disabled]="medicalAppointment.isFinished || medicalAppointment.isCancelled"
                        class="btn btn-outline-danger mx-2" (click)="delete(medicalAppointment.id)">Delete</button>
                </td>
            </tr>
            <tr *ngIf="medicalAppointments.length === 0">
                <td colspan="8">No medical appointments</td>
            </tr>
        </tbody>
    </table>
    <button (click)="closeAllAppointments()" class="btn btn-secondary">Close</button>
</div>