<p>registrant-appointments works!</p>
<button [disabled]="isAddingMode" (click)="openAppointmentForm()" class="btn btn-success w-50 mb-5">Add new medical appointment to the system</button>
<form [formGroup]="medicalAppointmentForm" *ngIf="isAddingMode">
    <div class="form-group">
        <label for="doctor">Doctor:</label>
        <select id="doctor" class="form-control" formControlName="doctorId">
          <option *ngFor="let doctor of doctors" [value]="doctor.id">
            {{ doctor.name }}
            {{doctor.surname}}
          </option>
        </select>
    </div>
    <div class="form-group col-md-2 offset-md-5 d-flex justify-content-center">
        <label class="col-md-5">Date & Time</label>
        <div class="input-group col-md-5">
          <input formControlName="date" ngbDatepicker #formMedicalAppointmentDatePicker="ngbDatepicker" class="form-control" aria-label="date"
                 [class.is-invalid]="formMedicalAppointmentDate.invalid">
          <div>
            <button class="btn btn-outline-secondary pi pi-calendar" (click)="formMedicalAppointmentDatePicker.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      
      <div class="col-md-5 offset-md-5 d-flex justify-content-center">
        <ngb-timepicker formControlName="time" [spinners]="true" [seconds]="false" [hourStep]="1" [minuteStep]="1"></ngb-timepicker>
      </div>
    
      <div class="invalid-feedback">
        <span *ngIf="formMedicalAppointmentDate.get('dateTime')?.errors?.['required']">Required</span>
      </div> 
      <div>   
        <div class="d-flex justify-content-center mb-4">
            <button type="button" class="btn  btn-success float-right mx-2" (click)="addMedicalAppointment()">Add the new medical appointment for doctor id: {{formDoctorId.value}}</button>
            <button (click)="cancelAdding()" class="btn btn-secondary">Cancel</button>
        </div>
    </div>
</form>




<!-- GET ALL -->

<button [disabled]="isShowingAllAppointmentsMode" (click)="showAllAppointments()" class="btn btn-success w-50 mb-5">Show all appointments</button>
<div *ngIf="isShowingAllAppointmentsMode" class="d-flex justify-content-center mx-5 px-5 mb-5">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Medical appointment Id
                </th>
                <th>
                    Doctor Id
                </th>
                <th>
                    Patient Id
                </th>
                <th>
                   
                </th>
            </tr>

        </thead>
        <tr *ngFor="let medicalAppointment of medicalAppointments">
            <td>
                Med Ap Id: {{medicalAppointment.id}}
                DoctorId: {{medicalAppointment.doctorId}}
                PatientId: {{medicalAppointment.patientId}}
                Time: {{medicalAppointment.dateTime}}

            </td>
            <td>
                <!-- <button type="button" class="btn  btn-success float-right" (click)="edit(medicalAppointment)">Edit</button> -->
                <button type="button" [disabled]="isAddingMode" class="btn  btn-success float-right" (click)="delete(medicalAppointment.id)">Delete</button>
            </td>
        </tr>
        <tr *ngIf="medicalAppointments.length === 0">
            <td colspan="8">No medical appointments</td>
        </tr>
    </table>
    <button (click)="closeAllAppointments()" class="btn btn-secondary">Close</button>
</div>

<a [routerLink]="['/registrant']" class="btn btn-secondary">Return</a>
