<p>appointment-details works!</p>
<h4>MEDICAL APPOINTMENT</h4>
<p></p>
<h5 class="display-7 d-flex justify-content-center mt-5 mb-3 pt-3 pb-3">Time: {{medicalAppointment.dateTime}}
  Patient id: {{medicalAppointment.patientId}} Is editable: {{isEditable}}</h5>


<form [formGroup]="myForm">
    <label for="textbox">Interview:</label>
    <input id="textbox" type="text" formControlName="interviewText" />
    <p></p>

    <label for="textbox">Diagnosis:</label>
    <input id="textbox" type="text" formControlName="diagnosisText" />

</form>

<div *ngIf="isEditable">
  <button (click)="saveAnAppointment()" class="btn btn-success w-50">Finish the appointment</button>
  <a [routerLink]="['/doctor-appointments', medicalAppointment.doctorId]" class="btn btn-success w-50" >Cancel</a>  
</div>




  <!--<p>Interview: {{ interview }}</p>
  <p>Diagnosis: {{ interview }}</p> -->