<div class="container">
  <a [routerLink]="['/doctor-appointments' , medicalAppointment.doctorId]" class="btn btn-secondary">Return</a>
  <br/>
  <br/>

  <h4>MEDICAL APPOINTMENT</h4>
  <p></p>
  <h5 class="display-7 d-flex justify-content-center flex-column align-items-center mb-3 pt-3 pb-3 ">
    <div *ngIf="medicalAppointment.isCancelled; else finishBlock">
      status: CANCELLED
    </div>
    <ng-template #finishBlock>
      <div *ngIf="medicalAppointment.isFinished; else awaitBlock">
        status: FINISHED
      </div>
    </ng-template>
    <ng-template #awaitBlock>
      status: AWAITING
    </ng-template>

    <div>Time: {{medicalAppointment.dateTime}} <br /></div>
    <div>Patient id: {{medicalAppointment.patientId}}</div>

  </h5>

  <div *ngIf="isAppointmentCancelled || isCancelClicked">
    <form [formGroup]="cancelAppointmentForm">
      <div class="formGroup mb-3">
        <label for="textbox">Reason to cancel the medical appointment:</label>
        <input formControlName="cancelComment" id="cancelComment" type="text" class="form-control"
          aria-label="cancelComment"
          [class.is-invalid]="formCancelComment.invalid && (formCancelComment.touched || formCancelComment.dirty)">
        <div class="invalid-feedback">
          <span *ngIf="formCancelComment?.errors?.['required']">Required</span>
        </div>
      </div>
      <div *ngIf="isEditable">
        <button (click)="saveCancelComment()" class="btn btn-primary w-50">Save comment</button>
        <button (click)="cancelCancelComment()" class="btn btn-outline-danger w-50">Cancel comment</button>
      </div>
    </form>
  </div>


  <!-- JESLI WIZYTA NIEANULOWANA - OCZEKUJĄCA LUB ZAKOŃCZONA -->
  <div *ngIf="!isAppointmentCancelled && !isCancelClicked">
    <form [formGroup]="medicalAppointmentForm">
      <div class="formGroup mb-3">
        <label for="textbox">Interview:</label>
        <textarea id="interview" formControlName="interviewText" type="text" class="form-control" aria-label="interview"  rows="3" (input)="autoResize($event)"
          [class.is-invalid]="formInterview.invalid && (formInterview.touched || formInterview.dirty)">
        </textarea>
        <div class="invalid-feedback">
          <span *ngIf="formInterview?.errors?.['required']">Required</span>
        </div>
      </div>
      <p></p>

      <div class="formGroup mb-3">
        <label for="textbox">Diagnosis:</label>
        <textarea id="textbox" type="text" formControlName="diagnosisText" class="form-control" rows="3" (input)="autoResize($event)"
          [class.is-invalid]="formDiagnosis.invalid && (formDiagnosis.touched || formDiagnosis.dirty)">
        </textarea>
        <div class="invalid-feedback">
          <span *ngIf="formDiagnosis?.errors?.['required']">Required</span>
        </div>
      </div>
    </form>

    <!-- DIAGNOSTIC TESTS-->
    <form [formGroup]="chooseDiagnosticTestTypeForm" *ngIf="isEditable">
      <div class="formGroup mb-3">
        <label for="diagnosticTypeTestType">Diagnostic Test Type:</label>
        <select id="diagnosticTypeTestType" class="form-control" formControlName="diagnosticTypeTestType">
          <option *ngFor="let diagnosticTestType of diagnosticTestTypes" [ngValue]="diagnosticTestType">
            {{ diagnosticTestType.name }}
          </option>
        </select>
      </div>
      <div>
        <div class="d-flex justify-content-center mb-4">
          <button [disabled]="isDisabled" type="button" class="btn  btn-primary float-right mx-2 mt-5 "
            (click)="selectDiagnosticTestType()">Select</button>
        </div>
      </div>
    </form>

    <form [formGroup]="diagnosticTestForm" *ngIf="isDiagnosticTestAddingMode || isDiagnosticTestEditableMode">
      <label for="textbox">Type:</label>
      <input id="diagnosticTestTypeName" formControlName="diagnosticTestTypeName" type="text" class="form-control">
      <p></p>

      <label for="textbox">Description:</label>
      <textarea id="description" type="text" formControlName="description" rows="1" (input)="autoResize($event)">
      </textarea>

      <div class="d-flex justify-content-center mb-4 mt-5">
        <button *ngIf="isDiagnosticTestAddingMode" type="button" class="btn  btn-primary float-right mx-2 "
          (click)="saveDiagnosticTest()">Save Diagnostic Test</button>
        <button (click)="cancelAddingDiagnosticTest()" class="btn btn-outline-secondary">Cancel</button>
        <button *ngIf="isDiagnosticTestEditableMode" type="button" class="btn  btn-primary float-right mx-2 "
          (click)="updateDiagnosticTest()">Save
          etitioned diagnosticTest</button>
      </div>
    </form>

    <div class="mb-5">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>
              Diagnostic Test
            </th>
            <th>

            </th>
          </tr>
        </thead>
        <tr *ngFor="let pastDiagnosticTest of pastDiagnosticTests">
          <td>
            Diagnostic test type: {{pastDiagnosticTest.diagnosticTestTypeName}}
            <br />
            Description: {{pastDiagnosticTest.description}}
          </td>
          <td *ngIf="isEditable">
            <button [disabled]="isDiagnosticTestAddingMode || isDiagnosticTestEditableMode" type="button"
              class="btn  btn-primary float-right" (click)="edit(pastDiagnosticTest)">Edit</button>
            <button [disabled]="isDiagnosticTestAddingMode || isDiagnosticTestEditableMode" type="button"
              class="btn  btn-outline-danger float-right" (click)="delete(pastDiagnosticTest.id)">Delete</button>
          </td>
        </tr>
        <tr *ngIf="pastDiagnosticTests.length === 0">
          <td colspan="8">No diagnosticTest</td>
        </tr>
      </table>
    </div>
    <!-- DIAGNOSTIC TESTS-->

    <!-- LABORATORY TESTS-->
    <form [formGroup]="chooseLaboratoryTestTypeForm" *ngIf="isEditable">
      <div class="formGroup mb-3">
        <label for="laboratoryTypeTestType">Laboratory Test Type:</label>
        <select id="laboratoryTypeTestType" class="form-control" formControlName="laboratoryTypeTestType">
          <option *ngFor="let laboratoryTestType of laboratoryTestTypes" [ngValue]="laboratoryTestType">
            {{ laboratoryTestType.name }}
          </option>
        </select>
      </div>
      <div>
        <div class="d-flex justify-content-center mb-4">
          <button [disabled]="isDisabled" type="button" class="btn  btn-primary float-right mx-2 mt-5 "
            (click)="selectLaboratoryTestType()">Select</button>
        </div>
      </div>
    </form>

    <form [formGroup]="laboratoryTestForm" *ngIf="isLaboratoryTestAddingMode || isLaboratoryTestEditableMode">
      <label for="textbox">Type:</label>
      <input id="laboratoryTestTypeName" formControlName="laboratoryTestTypeName" type="text" class="form-control">
      <p></p>

      <label for="textbox">Note:</label>
      <textarea id="doctorNote" type="text" formControlName="doctorNote" rows="1" (input)="autoResize($event)">
      </textarea>

      <div class="d-flex justify-content-center mb-4 mt-5">
        <button *ngIf="isLaboratoryTestAddingMode" type="button" class="btn  btn-primary float-right mx-2 "
          (click)="saveLaboratoryTest()">Save laboratory Test</button>
        <button (click)="cancelAddingLaboratoryTest()" class="btn btn-outline-secondary">Cancel</button>
        <button *ngIf="isLaboratoryTestEditableMode" type="button" class="btn  btn-primary float-right mx-2 "
          (click)="updateLaboratoryTest()">Save etitioned laboratoryTest</button>
      </div>
    </form>

    <div>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>
              Laboratory Test
            </th>
            <th>

            </th>
          </tr>
        </thead>
        <tr *ngFor="let pastLaboratoryTest of pastLaboratoryTests">
          <td>
            Laboratory test type: {{pastLaboratoryTest.laboratoryTestTypeName}}
            <br />
            Note: {{pastLaboratoryTest.doctorNote}}
            <br />
            Result: {{pastLaboratoryTest.result}}
          </td>
          <td *ngIf="isEditable">
            <button [disabled]="isLaboratoryTestAddingMode || isLaboratoryTestEditableMode" type="button"
              class="btn  btn-primary float-right" (click)="editLaboratoryTest(pastLaboratoryTest)">Edit</button>
            <button [disabled]="isLaboratoryTestAddingMode || isLaboratoryTestEditableMode" type="button"
              class="btn  btn-outline-danger float-right" (click)="deleteLaboratoryTest(pastLaboratoryTest.id)">Delete</button>
          </td>
        </tr>
        <tr *ngIf="pastDiagnosticTests.length === 0">
          <td colspan="8">No Laboratory Tests</td>
        </tr>
      </table>
    </div>
    <!-- LABORATORY TESTS-->

    <div *ngIf="isEditable">
      <button [disabled]="medicalAppointment.patientId==0" (click)="saveAnAppointment()"
        class="btn btn-primary w-40 mx-2">Finish the appointment</button>
      <button [disabled]="medicalAppointment.patientId==0" (click)="cancelAnAppointment()"
        class="btn btn-outline-danger w-40 mx-2">Cancel the appointment</button>

      <!-- <a [routerLink]="['/doctor-appointments', medicalAppointment.doctorId]" class="btn btn-success w-50">Cancel</a> -->
    </div>

  </div>


</div>





<!--<p>Interview: {{ interview }}</p>
  <p>Diagnosis: {{ interview }}</p> -->