
<div class="d-flex justify-content-center mx-5 px-5 mb-5">
    <div *ngIf="isVisible">
        <form [formGroup]="specialisationForm" >
            <div class="formGroup col-md-2 offset-md-5 d-flex justify-content-center w-100">
                <input formControlName="name" type="string" class="form-control w-100" aria-label="name" 
                    [class.is-invalid]="formName.invalid">
                    <!-- <div class="invalid-feedback">
                        <span *ngIf="formWeight?.errors?.['min']">Min value: 10</span>
                        <span *ngIf="formWeight?.errors?.['max']">Max value: 500</span>
                        <span *ngIf="formWeight?.errors?.['required']">Required</span>
                    </div> -->
            </div>
            <button type="button" class="btn  btn-success float-right" (click)="update()">Save</button>
        </form>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Specialisation
                </th>
                <th>
                   
                </th>
            </tr>

        </thead>
        <tr *ngFor="let specialisation of specialisations">
            <td>
                {{specialisation.name}}

            </td>
            <td>
                <button type="button" class="btn  btn-success float-right" (click)="edit(specialisation)">Edit</button>
                <button type="button" class="btn  btn-success float-right" (click)="delete(specialisation.id)">Delete</button>
            </td>
        </tr>

        <tr *ngIf="specialisations.length === 0">
            <td colspan="8">No specialisations</td>
        </tr>
    </table>
</div>