<p>patient works!</p>
<div>
    <!-- <form [formGroup]="choosePatientForm" *ngIf = "!isPatientIdSet">
        <div class="form-group">
          <label for="patient">Patient:</label>
          <select id="patient" class="form-control" formControlName="patientId" (change)="onPatientChange($event)">
            <option *ngFor="let patient of patients" [value]="patient.id">
              {{patient.id}}
              {{patient.pesel}}
              {{ patient.name }}
              {{patient.surname}}
            </option>
          </select>
        </div>
      </form>  -->






    <div class="w-50 d-flex flex-column align-items-center mt-5 mb-5">
       <button (click)="setActiveComponent('makeAnAppointment')" class="btn btn-success w-50 mb-5">Make an appointment</button>
        <div class="content">
            <app-make-an-appointment [patientId] = 'patientId' *ngIf="activeComponent === 'makeAnAppointment'"></app-make-an-appointment>
        </div>
        <button (click)="setActiveComponent('PatientsVisits')" class="btn btn-success w-50 mt-5">Patient's visits</button>
        <div>
          <app-get-medical-appointments-for-patient [patientId] = 'patientId' *ngIf="activeComponent === 'PatientsVisits'"></app-get-medical-appointments-for-patient>
        </div>
      </div>     



    <!-- <div class="container">
        <app-make-an-appointment [patientId] = 'patientId'></app-make-an-appointment>
    </div>
    <div class="container">
        <app-get-medical-appointments-for-patient></app-get-medical-appointments-for-patient>
    </div> -->
</div>