<a [routerLink]="['/registrant', registrantId]" class="btn btn-secondary my-4">Return</a>
<div class="col mb-4 d-flex justify-content-between my-4">
    <h1>Patients</h1>
    <button [disabled]="isEditableMode || isAddingMode || isCreateAccountMode" (click)="addNewPatient()"
        class="btn btn-outline-primary fs-5">
        + Add new patient
    </button>
    <button [disabled]="isEditableMode || isAddingMode || isCreateAccountMode" (click)="addNewAccount()"
        class="btn btn-outline-primary fs-5">
        + Create an account
    </button>
</div>
<div>
    <h3 class="my-4" *ngIf="isAddingMode">Add new patient</h3>
    <h3 class="my-4" *ngIf="isEditableMode">Edit patient</h3>
    <h3 class="my-4" *ngIf="isCreateAccountMode">Create an account</h3>
    <form [formGroup]="patientForm" *ngIf="isAddingMode || isEditableMode || isCreateAccountMode" class="w-25 mx-auto">
        <div class="formGroup mb-3">
            <label class="form-label">Name</label>
            <input formControlName="name" type="string" step="0.01" class="form-control" aria-label="name"
                [class.is-invalid]="formName.invalid && (formName.touched || formName.dirty)">
            <div class="invalid-feedback">
                <span *ngIf="formName?.errors?.['required']">Required</span>
                <span *ngIf="formName?.errors?.['pattern']">Only letters</span>
            </div>
        </div>
        <div class="formGroup mb-3">
            <label class="form-label">Surname</label>
            <input formControlName="surname" type="string" class="form-control" aria-label="surname"
                [class.is-invalid]="formSurname.invalid && (formSurname.touched || formSurname.dirty)">
            <div class="invalid-feedback">
                <span *ngIf="formSurname?.errors?.['required']">Required</span>
                <span *ngIf="formSurname?.errors?.['pattern']">Only letters</span>
            </div>
        </div>
        <div class="formGroup mb-3">
            <label class="form-label">PESEL</label>
            <input formControlName="pesel" type="string" class="form-control" aria-label="pesel"
                [class.is-invalid]="formPesel.invalid && (formPesel.touched || formPesel.dirty)">
            <div class="invalid-feedback">
                <span *ngIf="formPesel?.errors?.['minlength']">Pesel length: 11</span>
                <span *ngIf="formPesel?.errors?.['maxlength']">Pesel length: 11</span>
                <span *ngIf="formPesel?.errors?.['required']">Required </span>
                <span *ngIf="formPesel?.errors?.['pattern']"> Only digits</span>
            </div>
        </div>

        <div class="formGroup mb-3" *ngIf="isCreateAccountMode">
            <label class="form-label">E-mail address</label>
            <input formControlName="email" type="string" class="form-control" aria-label="email"
                [class.is-invalid]="formEmail.invalid && (formEmail.touched || formEmail.dirty)">
            <div class="invalid-feedback">
                <span *ngIf="formEmail?.errors?.['required']">Required</span>
                <span *ngIf="formEmail?.errors?.['maxlength']">Max length: 256</span>
                <span *ngIf="formEmail?.errors?.['email']">Email format required</span>
            </div>
        </div>

        <div *ngIf="isCreateAccountMode" class="formGroup mb-3">
            <label class="form-label">Password</label>
            <input formControlName="password" [type]="passwordVisible ? 'text' : 'password'" class="form-control"
                aria-label="password"
                [class.is-invalid]="formPassword.invalid && (formPassword.touched || formPassword.dirty)">
            <button type="button" (click)="togglePasswordVisibility()">Toggle</button>
            <div class="invalid-feedback">
                <span *ngIf="formPassword?.errors?.['required']">Required</span>
                <div *ngIf="formPassword?.errors?.['hasNumber']">
                    {{ formPassword?.errors?.['hasNumber'] }}
                </div>
                <div *ngIf="formPassword?.errors?.['hasUppercase']">
                    {{ formPassword?.errors?.['hasUppercase'] }}
                </div>
                <div *ngIf="formPassword?.errors?.['hasLowercase']">
                    {{ formPassword?.errors?.['hasLowercase'] }}
                </div>
                <div *ngIf="formPassword?.errors?.['hasSpecialCharacter']">
                    {{ formPassword.errors?.['hasSpecialCharacter'] }}
                </div>
                <div *ngIf="formPassword?.errors?.['isValidLength']">
                    {{ formPassword.errors?.['isValidLength'] }}
                </div>
            </div>
        </div>

        <div>
            <div class="d-flex justify-content-center mb-5 mt-5">
                <button *ngIf="isAddingMode" type="button" class="btn  btn-primary float-right mx-2 "
                    (click)="addPatient()">Save</button>
                <button *ngIf="isCreateAccountMode" type="button" class="btn  btn-primary float-right mx-2 "
                    (click)="createPatientAccount()">Save</button>
                <button *ngIf="isEditableMode" type="button" class="btn  btn-primary float-right mx-2 "
                    (click)="update()">Save</button>
                <button (click)="cancelAdding()" class="btn btn-outline-secondary">Cancel</button>
            </div>
        </div>
    </form>

    <div class="mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        PESEL
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patients">
                    <td>
                        {{patient.id}}
                    </td>
                    <td>
                        {{patient.name}}
                    </td>
                    <td>
                        {{patient.surname}}
                    </td>
                    <td>
                        {{patient.pesel}}
                    </td>

                    <td class="text-end">
                        <button [disabled]="isAddingMode || isEditableMode || !patient.isAvailable" type="button"
                            class="btn btn-outline-primary ms-4 me-2" (click)="edit(patient)">Edit</button>

                        <button [disabled]="isAddingMode || isEditableMode || !patient.isAvailable" type="button"
                            class="btn btn-outline-danger mx-2" (click)="delete(patient.id)">Delete</button>

                        <a [routerLink]="['/patient', patient.id, registrantId]"
                            [queryParams]="{isRegistrantMode: true }" class="btn btn-primary ms-2 me-4">Medical
                            Appointments</a>
                        <a [routerLink]="['/patient-laboratory-appointments', patient.id , registrantId]"
                            [queryParams]="{isRegistrantMode: true }" class="btn btn-primary ms-2 me-4">Laboratory
                            Appointments</a>
                    </td>
                </tr>
                <tr *ngIf="patients.length === 0">
                    <td colspan="8">No patients</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>