<div class="container vw-100">
    <div *ngIf="!isRegistrantMode">
        <button [disabled]="!authorizationService.isLoggedIn()" type="button"
            class="btn  btn-outline-danger float-right mx-2 mt-5 " (click)="logout()">Logout</button>
    </div>
    <a *ngIf="isRegistrantMode" [routerLink]="['/registrant-laboratory-supervisors', registrantId]" class="btn btn-secondary">Return</a>


    <div class=" col-12 mb-4 text-center">
        <button (click)="openWaitingForReviewLabApp()"
            class="btn btn-primary ms-2 me-4 w-25">Waiting for review</button>
    </div>
    <div *ngIf="isWaitingForReviewMode" class="d-flex justify-content-center mx-5 px-5 mb-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Time
                    </th>
                    <th>
                        Patient
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let waitingForReviewAppointment of waitingForReviewAppointments">
                    <td>
                        {{waitingForReviewAppointment.dateTime}}
                    </td>
                    <td>
                        {{waitingForReviewAppointment.patientName}} {{waitingForReviewAppointment.patientSurname}}
                    </td>
                    <td class="text-end">
                        <a [routerLink]="['/laboratory-appointment-details-supervisor', waitingForReviewAppointment.laboratoryAppointmentId]"
                            *ngIf="!isRegistrantMode" class="btn btn-primary w-50">Details</a>
                    </td>
                </tr>
                <tr *ngIf="waitingForReviewAppointments.length === 0">
                    <td colspan="8">No tests waiting for review</td>
                </tr>
            </tbody>
        </table>
        <button (click)="closeWaitingForReviewLabApp()" class="btn btn-secondary">Close</button>
    </div>


    


    <div class=" col-12 mb-4 text-center">
        <button (click)="openSentBackLabApp()"
            class="btn btn-primary ms-2 me-4 w-25">Sent back</button>
    </div>
    <div *ngIf="isSentBackMode" class="d-flex justify-content-center mx-5 px-5 mb-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Time
                    </th>
                    <th>
                        Patient
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sentBackAppointment of sentBackAppointments">
                    <td>
                        {{sentBackAppointment.dateTime}}
                    </td>
                    <td>
                        {{sentBackAppointment.patientName}} {{sentBackAppointment.patientSurname}}
                    </td>
                    <td class="text-end">
                        <a [routerLink]="['/laboratory-appointment-details-supervisor', sentBackAppointment.laboratoryAppointmentId]"
                            *ngIf="!isRegistrantMode" class="btn btn-primary w-50">Details</a>
                    </td>
                </tr>
                <tr *ngIf="sentBackAppointments.length === 0">
                    <td colspan="8">No sent back tests</td>
                </tr>
            </tbody>
        </table>
        <button (click)="closeSentBackLabApp()" class="btn btn-secondary">Close</button>
    </div>


    <div class=" col-12 mb-4 text-center">
        <button (click)="openAcceptedLabApp()"
            class="btn btn-primary ms-2 me-4 w-25">Accepted</button>
    </div>
    <div *ngIf="isAcceptedMode" class="d-flex justify-content-center mx-5 px-5 mb-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Time
                    </th>
                    <th>
                        Patient
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let acceptedAppointment of acceptedAppointments">
                    <td>
                        {{acceptedAppointment.dateTime}}
                    </td>
                    <td>
                        {{acceptedAppointment.patientName}} {{acceptedAppointment.patientSurname}}
                    </td>
                    <td class="text-end">
                        <a [routerLink]="['/laboratory-appointment-details-supervisor', acceptedAppointment.laboratoryAppointmentId]"
                            *ngIf="!isRegistrantMode" class="btn btn-primary w-50">Details</a>
                    </td>
                </tr>
                <tr *ngIf="acceptedAppointments.length === 0">
                    <td colspan="8">No accepetd tests</td>
                </tr>
            </tbody>
        </table>
        <button (click)="closeAcceptedLabApp()" class="btn btn-secondary">Close</button>
    </div>


</div>