<p>get-registrants works!</p>

<div class="d-flex justify-content-center mx-5 px-5 mb-5">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Registrants
                </th>
                <th>
                   
                </th>
            </tr>

        </thead>
        <tr *ngFor="let registrant of registrants">
            <td>
                {{registrant.registrantNumber}}
                {{registrant.name}}
                {{registrant.surname}}

            </td>
            <td>
                <button type="button" class="btn  btn-success float-right" (click)="edit(registrant)">Edit</button>
                <button type="button" class="btn  btn-success float-right" (click)="delete(registrant.id)">Delete</button>
            </td>
        </tr>
        <tr *ngIf="registrants.length === 0">
            <td colspan="8">No registrants</td>
        </tr>
    </table>
</div>