<p>add-medical-appointment works!</p>









<!-- <div>
    <label>Doctors:</label>
    <div *ngFor="let doctor of doctors">
      <label>
        <input
          type="checkbox"
          [value]="doctor.id"
          (change)="onDoctorChange($event)"
        />
        {{ doctor.name }}
        {{doctor.surname}}
        {{doctor.doctorNumber}}
      </label>
    </div>
</div>  -->

<form [formGroup]="medicalAppointmentForm" >

    <div class="form-group">
        <label for="doctor">Doctor:</label>
        <select id="doctor" class="form-control" formControlName="doctorId">
          <option *ngFor="let doctor of doctors" [value]="doctor.id">
            {{ doctor.name }}
            {{doctor.surname}}
          </option>
        </select>
    </div>

  <!-- <div class="formGroup col-md-2  offset-md-5 d-flex justify-content-center">
    <label class="col-md-5">Date</label>
    <div class="input-group col-md-5">
        <input formControlName="dateTime" ngbDatepicker #formMedicalAppointmentDatePicker="ngbDatepicker" step="60" class="form-control" aria-label="dateTime" 
        [class.is-invalid]="formMedicalAppointmentDate.invalid">
        <div>
          <button class="btn btn-outline-secondary pi pi-calendar" (click)="formMedicalAppointmentDatePicker.toggle()" type="button"></button>
      </div>
    </div>
    <div class="invalid-feedback">
      <span *ngIf="formMedicalAppointmentDate?.errors?.['required']">Required</span>
  </div>
  </div> -->

  <!-- <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()"> -->






<!-- ODKOMENTOWAĆ!!!!! -->
     <div class="form-group col-md-2 offset-md-5 d-flex justify-content-center">
      <label class="col-md-5">Date & Time</label>
      <div class="input-group col-md-5">
        <input formControlName="date" ngbDatepicker #formMedicalAppointmentDatePicker="ngbDatepicker" class="form-control" aria-label="date"
               [class.is-invalid]="formMedicalAppointmentDate.invalid">
        <div>
          <button class="btn btn-outline-secondary pi pi-calendar" (click)="formMedicalAppointmentDatePicker.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    
    <div class="col-md-5 offset-md-5 d-flex justify-content-center">
      <ngb-timepicker formControlName="time" [spinners]="true" [seconds]="false" [hourStep]="1" [minuteStep]="1"></ngb-timepicker>
    </div>
  
    <div class="invalid-feedback">
      <span *ngIf="formMedicalAppointmentDate.get('dateTime')?.errors?.['required']">Required</span>
    </div> 
  






    <!-- Submit button -->
    <!-- <button type="submit" [disabled]="timeControl.invalid" class="btn btn-success w-100">Submit</button> -->



    <!-- <div class="formGroup col-md-2  offset-md-5 d-flex justify-content-center">
        <label class="col-md-5">PatientId</label>
        <div class="input-group col-md-5">
            <input formControlName="patientId" type="number" step="0.01" class="form-control" aria-label="patientId" 
            [class.is-invalid]="formPatientId.invalid">
            <div class="invalid-feedback">
                <span *ngIf="formPatientId?.errors?.['min']">Min length: 1</span>
                <span *ngIf="formPatientId?.errors?.['max']">Max length: 3</span>
                <span *ngIf="formPatientId?.errors?.['required']">Required</span>
            </div>
        </div>
    </div> -->
   

    <div>   
        <div class="d-flex justify-content-center mb-4">
            <button type="button" class="btn  btn-success float-right mx-2" (click)="addMedicalAppointment()">Add the new medical appointment for doctor id: {{formDoctorId.value}}</button>
        </div>
    </div>
</form>
