<p>get-medical-appointments-for-patient works!</p>

<!--<form [formGroup]="choosePatientForm"  *ngIf="isVisible === true">

    <div class="form-group">
      <label for="patient">Patients:</label>
      <select id="patient" class="form-control" formControlName="patientId">
        <option *ngFor="let patient of patients" [value]="patient.id">
          {{patient.id}}
          {{patient.pesel}}
          {{ patient.name }}
          {{patient.surname}}
        </option>
      </select>
    </div>
    <div>   
        <div class="d-flex justify-content-center mb-4">
            <button type="button" class="btn  btn-success float-right mx-2" (click)="getAllMedicalAppointments(patientId)">Show medical appointments for patient id: {{patientId}}</button>
        </div>
      </div>
</form> -->

<div class="d-flex justify-content-center mx-5 px-5 mb-5">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Future appointments:
                </th>
                <th>
                   
                </th>
            </tr>

        </thead>
        <tr *ngFor="let futureAppointment of allMedicalAppointments.futureMedicalAppointments">
            <td>
                Time: {{futureAppointment.dateTime}}
                Doctor Id: {{futureAppointment.doctorId}}
            </td>
            <td>
                <button type="button" class="btn  btn-success float-right" (click)="cancel(futureAppointment)">Cancel</button>
            </td>
        </tr>
        <tr *ngIf="allMedicalAppointments.futureMedicalAppointments.length === 0">
            <td colspan="8">No future medical appointments</td>
        </tr>
    </table>
</div>

<div class="d-flex justify-content-center mx-5 px-5 mb-5">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Past appointments:
                </th>
                <th>
                </th>
            </tr>

        </thead>
        <tr *ngFor="let pastAppointment of allMedicalAppointments.pastMedicalAppointments">
            <td>
                Time: {{pastAppointment.dateTime}}
                Doctor Id: {{pastAppointment.doctorId}}
            </td>
        </tr>
        <tr *ngIf="allMedicalAppointments.pastMedicalAppointments.length === 0">
            <td colspan="8">No past medical appointments</td>
        </tr>
    </table>
</div>

