<p>registrant-doctor works!</p>

<!-- <div *ngIf="isFormVisible" class="w-100"> -->
<div>
    <button [disabled]="isEditableMode || isAddingMode" (click)="addNewDoctor()" class="btn btn-success w-50 mb-5">Add
        new doctor to the system</button>
    <form [formGroup]="doctorForm" *ngIf="isAddingMode || isEditableMode">

        <div class="formGroup col-md-2  offset-md-5 d-flex justify-content-center">
            <label class="col-md-5">Name</label>
            <div class="input-group col-md-5">
                <input formControlName="name" type="string" step="0.01" class="form-control" aria-label="name"
                    [class.is-invalid]="formName.invalid">
                <div class="invalid-feedback">
                    <span *ngIf="formName?.errors?.['min']">Min length: 2</span>
                    <span *ngIf="formName?.errors?.['max']">Max length: 30</span>
                    <span *ngIf="formName?.errors?.['required']">Required</span>
                </div>
            </div>
        </div>
        <div class="formGroup col-md-2 offset-md-5 d-flex justify-content-center">
            <label class="col-md-5">Surname</label>
            <div class="input-group col-md-5">
                <input formControlName="surname" type="string" class="form-control" aria-label="surname"
                    [class.is-invalid]="formSurname.invalid">
                <div class="invalid-feedback">
                    <span *ngIf="formSurname?.errors?.['min']">Min length: 2</span>
                    <span *ngIf="formSurname?.errors?.['max']">Max length: 60</span>
                    <span *ngIf="formSurname?.errors?.['required']">Required</span>
                </div>
            </div>
        </div>


        <div>
            <label>Specialisations:</label>
            <div *ngFor="let specialisation of specialisations">
                <label>
                    <input type="checkbox" [value]="specialisation.id" (change)="onSpecialisationChange($event)" />
                    {{ specialisation.name }}
                </label>
            </div>
        </div>

        <div>
            <label>Selected specialisations:</label>
            <div *ngFor="let selectedSpec of  MedicalSpecialisationsIds">
                selected specialisations: {{MedicalSpecialisationsIds}}
            </div>
        </div>

        <div class="d-flex justify-content-center mb-4 mt-5">
            <button *ngIf="isAddingMode" type="button" class="btn  btn-success float-right mx-2 "
                (click)="addDoctor()">Insert new doctor</button>
            <button (click)="cancelAdding()" class="btn btn-secondary">Cancel</button>
            <button *ngIf="isEditableMode" type="button" class="btn  btn-success float-right mx-2 "
                (click)="update()">Save etitioned doctor</button>



        </div>

   <!-- <div>
            <div class="d-flex justify-content-center mb-4">
                <button type="button" class="btn  btn-success float-right mx-2" (click)="addDoctor()">Add the new doctor
                    to system</button>
            </div>
        </div>
        <button type="button" class="btn  btn-secondary float-right" (click)="cancel()">Cancel</button> -->

    </form>
</div>


<div class="d-flex justify-content-center mx-5 px-5 mb-5">
    <!-- <div *ngIf="isVisible">
        <form [formGroup]="doctorForm">
            <div class="formGroup col-md-2 offset-md-5 d-flex justify-content-center w-100">
                <input formControlName="name" type="string" class="form-control w-100" aria-label="name"
                    [class.is-invalid]="formName.invalid">
                <input formControlName="surname" type="string" class="form-control w-100" aria-label="surname"
                    [class.is-invalid]="formName.invalid">
                <input formControlName="doctorNumber" type="number" class="form-control w-100" aria-label="doctorNumber"
                    [class.is-invalid]="formName.invalid">
            </div>
            <div>
                <label>Specialisations:</label>
                <div *ngFor="let specialisation of specialisations">
                    <label>
                        <input type="checkbox" [value]="specialisation.id" (change)="onSpecialisationChange($event)" />
                        {{ specialisation.name }}
                    </label>
                </div>
            </div>

            <div>
                <label>Selected specialisations:</label>
                <div *ngFor="let selectedSpec of  MedicalSpecialisationsIds">
                    selected specialisations: {{MedicalSpecialisationsIds}}
                </div>
            </div>
            <button type="button" class="btn  btn-success float-right" (click)="update()">Save</button>
        </form>
    </div> -->
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Doctor
                </th>
                <th>

                </th>
            </tr>

        </thead>
        <tr *ngFor="let doctor of doctors">
            <td>
                {{doctor.doctorNumber}}
                {{doctor.name}}
                {{doctor.surname}}
                {{doctor.specialisation}}
            </td>
            <td>
                <button [disabled]="isAddingMode || isEditableMode" type="button" class="btn  btn-success float-right"
                (click)="edit(doctor)">Edit</button>
            <button [disabled]="isAddingMode || isEditableMode" type="button" class="btn  btn-success float-right"
                (click)="delete(doctor.id)">Delete</button>

            <!-- <a [routerLink]="['/doctor', doctor.id]" *ngIf="!isAddingMode" -->
            <a [routerLink]="['/doctor-appointments', doctor.id]" *ngIf="!isAddingMode"
                class="btn btn-success w-50">Doctor's Appointments</a>
            </td>
        </tr>
        <tr *ngIf="doctors.length === 0">
            <td colspan="8">No doctors</td>
        </tr>
    </table>
</div>