<a [routerLink]="['/registrant']" class="btn btn-secondary my-4">Return</a>

<!-- <div *ngIf="isFormVisible" class="w-100"> -->

    <div class="col mb-4 d-flex justify-content-between my-4">
        <h1>Doctor</h1>
        <button [disabled]="isEditableMode || isAddingMode" (click)="addNewDoctor()" class="btn btn-success fs-5">
            + Add new doctor</button>
    </div>
    
<div>
    <h3 class="my-4" *ngIf="isAddingMode">Add new doctor</h3>

    <h3 class="my-4" *ngIf="isEditableMode">Edit doctor</h3>

    <form class="form-group w-25 mx-auto" [formGroup]="doctorForm" *ngIf="isAddingMode || isEditableMode">

        <div class="formGroup">
            <label class="form-label">Name</label>
            <div class="input-group">
                <input formControlName="name" type="string" step="0.01" class="form-control" aria-label="name"
                    [class.is-invalid]="formName.invalid">
                <div class="invalid-feedback">
                    <span *ngIf="formName?.errors?.['min']">Min length: 1</span>
                    <span *ngIf="formName?.errors?.['max']">Max length: 60</span>
                    <span *ngIf="formName?.errors?.['required']">Required</span>
                </div>
            </div>
        </div>
        <div class="formGroup">
            <label class="form-label">Surname</label>
            <div class="input-group">
                <input formControlName="surname" type="string" class="form-control" aria-label="surname"
                    [class.is-invalid]="formSurname.invalid">
                <div class="invalid-feedback">
                    <span *ngIf="formSurname?.errors?.['min']">Min length: 1</span>
                    <span *ngIf="formSurname?.errors?.['max']">Max length: 60</span>
                    <span *ngIf="formSurname?.errors?.['required']">Required</span>
                </div>
            </div>
        </div>


        <div>
            <label>Specialisations:</label>
            <div *ngFor="let specialisation of specialisations">
                <label *ngIf="isAddingMode">
                    <input type="checkbox" [value]="specialisation.id" (change)="onSpecialisationChange($event, specialisation)" />
                    {{ specialisation.name }}
                </label>
                <label *ngIf="isEditableMode">
                    <input 
                      type="checkbox" 
                      [value]="specialisation.id" 
                      [checked]="specialisation.checked" 
                      (change)="onSpecialisationChange($event, specialisation)" 
                    />
                    {{ specialisation.name }}
                  </label>
            </div>
        </div>
        <div class="invalid-feedback" *ngIf="doctorForm.get('medicalSpecialisationsIds')?.errors?.['required'] && doctorForm.get('medicalSpecialisationsIds')?.touched">
            At least one specialisation must be selected.
        </div>

        <div>
            <!-- <label>Selected specialisations:</label>
            <div *ngFor="let selectedSpec of  MedicalSpecialisationsIds">
                selected specialisations: {{MedicalSpecialisationsIds}}
            </div> -->
        </div>

        <div class="d-flex justify-content-center mb-4 mt-5">
            <button *ngIf="isAddingMode" type="button" class="btn  btn-success float-right mx-2 "
                (click)="addDoctor()">Insert</button>
            <button (click)="cancelAdding()" class="btn btn-secondary">Cancel</button>
            <button *ngIf="isEditableMode" type="button" class="btn  btn-success float-right mx-2 "
                (click)="update()">Save</button>



        </div>

   <!-- <div>
            <div class="d-flex justify-content-center mb-4">
                <button type="button" class="btn  btn-success float-right mx-2" (click)="addDoctor()">Add the new doctor
                    to system</button>
            </div>
        </div>
        <button type="button" class="btn  btn-secondary float-right" (click)="cancel()">Cancel</button> -->

    </form>
</div>

  <!--
<div class="d-flex justify-content-center mx-5 px-5 mb-5">
   <div *ngIf="isVisible">
        <form [formGroup]="doctorForm">
            <div class="formGroup col-md-2 offset-md-5 d-flex justify-content-center w-100">
                <input formControlName="name" type="string" class="form-control w-100" aria-label="name"
                    [class.is-invalid]="formName.invalid">
                <input formControlName="surname" type="string" class="form-control w-100" aria-label="surname"
                    [class.is-invalid]="formName.invalid">
                <input formControlName="doctorNumber" type="number" class="form-control w-100" aria-label="doctorNumber"
                    [class.is-invalid]="formName.invalid">
            </div>
            <div>
                <label>Specialisations:</label>
                <div *ngFor="let specialisation of specialisations">
                    <label>
                        <input type="checkbox" [value]="specialisation.id" (change)="onSpecialisationChange($event)" />
                        {{ specialisation.name }}
                    </label>
                </div>
            </div>

            <div>
                <label>Selected specialisations:</label>
                <div *ngFor="let selectedSpec of  MedicalSpecialisationsIds">
                    selected specialisations: {{MedicalSpecialisationsIds}}
                </div>
            </div>
            <button type="button" class="btn  btn-success float-right" (click)="update()">Save</button>
        </form>
    </div> -->

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Doctor number
                </th>
                <th>
                    Specialties
                </th>
            </tr>

        </thead>
        <!-- <tr *ngFor="let doctor of doctors"> -->
        <tbody>
            <tr *ngFor="let doctorWtihSpecialisations of doctorsWithSpecialisations">
                <td>     
                    {{doctorWtihSpecialisations.id}}
                </td>
                <td>
                    {{doctorWtihSpecialisations.name}}
                </td>
                <td>
                    {{doctorWtihSpecialisations.surname}}
                </td>
                <td>
                    {{doctorWtihSpecialisations.doctorNumber}}
                </td>
                <td>
                    {{doctorWtihSpecialisations.specialisationIds}}
                </td>
                <td class="text-end">
                    <button [disabled]="isAddingMode || isEditableMode" type="button" class="btn btn-outline-primary ms-4 me-2"
                        (click)="edit(doctorWtihSpecialisations)">Edit</button>

                    <button [disabled]="isAddingMode || isEditableMode" type="button" class="btn btn-outline-danger mx-2"
                        (click)="delete(doctorWtihSpecialisations.id)">Delete</button>
        
                    <!-- <a [routerLink]="['/doctor', doctor.id]" *ngIf="!isAddingMode" -->
                    <a [routerLink]="['/doctor-appointments', doctorWtihSpecialisations.id]" [queryParams]="{isRegistrantMode: true }" *ngIf="!isAddingMode && !isEditableMode"
                        class="btn btn-success ms-2 me-4">Doctor's Appointments</a>
                </td>
            </tr>
            <tr *ngIf="doctorsWithSpecialisations.length === 0">
                <td colspan="8">No doctors</td>
            </tr>
        </tbody>
    </table>

    <!--
</div>-->