
<div class="d-flex justify-content-center mx-5 px-5 mb-5">
    <!--<div *ngIf="isVisible">
        <form [formGroup]="patientForm" >
            <div class="formGroup col-md-2 offset-md-5 d-flex justify-content-center w-100">
                <input formControlName="name" type="string" class="form-control w-100" aria-label="name" 
                    [class.is-invalid]="formName.invalid">

                <input formControlName="surname" type="string" class="form-control w-100" aria-label="surname" 
                    [class.is-invalid]="formSurname.invalid">
                <input formControlName="pesel" type="string" class="form-control w-100" aria-label="pesel" 
                    [class.is-invalid]="formPesel.invalid">

            </div>
            <button type="button" class="btn  btn-success float-right" (click)="update()">Save</button>
        </form>
    </div> -->
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Patient
                </th>
                <th>
                   
                </th>
            </tr>

        </thead>
        <tr *ngFor="let patient of patients">
            <td>
                {{patient.pesel}}
                {{patient.name}}
                {{patient.surname}}
            </td>
            <td>
                <button [disabled]="isAddingMode" type="button" class="btn  btn-success float-right" (click)="edit(patient)">Edit</button>
                <button [disabled]="isAddingMode" type="button" class="btn  btn-success float-right" (click)="delete(patient.id)">Delete</button>
                <a [routerLink]="['/patient', patient.id]" *ngIf="!isAddingMode" class="btn btn-success w-50" >Appointments</a>   
            </td>
        </tr>
        <tr *ngIf="patients.length === 0">
            <td colspan="8">No patients</td>
        </tr>
    </table>
</div>
