<a [routerLink]="['/registrant' , registrantId]" class="btn btn-secondary my-4">Return</a>

<div class="col mb-4 d-flex justify-content-between my-4">
    <h1>Laboratory supervisors</h1>
    <button [disabled]="isEditableMode || isAddingMode" (click)="addNewLaboratorySupervisor()"
        class="btn btn-outline-primary fs-5">
        + Add new laboratory supervisor</button>
</div>

<div>
    <h3 class="my-4" *ngIf="isAddingMode">Add new laboratory supervisor</h3>
    <h3 class="my-4" *ngIf="isEditableMode">Edit laboratory supervisor</h3>
    <form class="w-25 mx-auto" [formGroup]="laboratorySupervisorForm" *ngIf="isAddingMode || isEditableMode">
        <div class="formGroup mb-3">
            <label class="form-label">Name</label>
            <input formControlName="name" type="string" step="0.01" class="form-control" aria-label="name"
                [class.is-invalid]="formName.invalid && (formName.touched || formName.dirty)">
            <div class="invalid-feedback">
                <span *ngIf="formName?.errors?.['required']">Required</span>
                <span *ngIf="formName?.errors?.['pattern']">Only letters</span>
            </div>
        </div>

        <div class="formGroup mb-3">
            <label class="form-label">Surname</label>
            <input formControlName="surname" type="string" class="form-control" aria-label="surname"
                [class.is-invalid]="formSurname.invalid && (formSurname.touched || formSurname.dirty)">
            <div class="invalid-feedback">
                <span *ngIf="formSurname?.errors?.['required']">Required</span>
                <span *ngIf="formSurname?.errors?.['pattern']">Only letters</span>
            </div>
        </div>

        <div class="formGroup mb-3">
            <label class="form-label">Laboratory supervisor number</label>
            <input formControlName="laboratorySupervisorNumber" type="string" class="form-control"
                aria-label="laboratorySupervisorNumber"
                [class.is-invalid]="formLaboratorySupervisorNumber.invalid && (formLaboratorySupervisorNumber.touched || formLaboratorySupervisorNumber.dirty)">
            <div class="invalid-feedback">
                <span *ngIf="formLaboratorySupervisorNumber?.errors?.['required']">Required</span>
                <span *ngIf="formLaboratorySupervisorNumber?.errors?.['pattern']"> Laboratory supervisor number must
                    consist of 5
                    digits</span>
            </div>
        </div>

        <div class="formGroup mb-3" *ngIf="isAddingMode && !isEditableMode">
            <label class="form-label">E-mail address</label>
            <input formControlName="email" type="string" class="form-control" aria-label="email"
                [class.is-invalid]="formEmail.invalid && (formEmail.touched || formEmail.dirty)">
            <div class="invalid-feedback">
                <span *ngIf="formEmail?.errors?.['required']">Required</span>
                <span *ngIf="formEmail?.errors?.['maxlength']">Max length: 256</span>
                <span *ngIf="formEmail?.errors?.['email']">Email format required</span>
            </div>
        </div>

        <div class="formGroup mb-3" *ngIf="isAddingMode && !isEditableMode">
            <label class="form-label">Password</label>
            <input formControlName="password" [type]="passwordVisible ? 'text' : 'password'" class="form-control"
                aria-label="password"
                [class.is-invalid]="formPassword.invalid && (formPassword.touched || formPassword.dirty)">
            <button type="button" (click)="togglePasswordVisibility()">Toggle</button>
            <div class="invalid-feedback">
                <span *ngIf="formPassword?.errors?.['required']">Required</span>
                <div *ngIf="formPassword?.errors?.['hasNumber']">
                    {{ formPassword?.errors?.['hasNumber'] }}
                </div>
                <div *ngIf="formPassword?.errors?.['hasUppercase']">
                    {{ formPassword?.errors?.['hasUppercase'] }}
                </div>
                <div *ngIf="formPassword?.errors?.['hasLowercase']">
                    {{ formPassword?.errors?.['hasLowercase'] }}
                </div>
                <div *ngIf="formPassword?.errors?.['hasSpecialCharacter']">
                    {{ formPassword.errors?.['hasSpecialCharacter'] }}
                </div>
                <div *ngIf="formPassword?.errors?.['isValidLength']">
                    {{ formPassword.errors?.['isValidLength'] }}
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mb-5 mt-5">
            <button *ngIf="isAddingMode" type="button" class="btn  btn-primary float-right mx-2 "
                (click)="createLaboratorySupervisorAccount()">Save</button>
            <button *ngIf="isEditableMode" type="button" class="btn  btn-primary float-right mx-2 "
                (click)="update()">Save</button>
            <button (click)="cancelAdding()" class="btn btn-outline-secondary">Cancel</button>
        </div>
    </form>
</div>

<div class="mt-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    Name
                </th>
                <th>
                    Surname
                </th>
                <th>
                    Supervisor number
                </th>
                <th>
                    Archived
                </th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let laboratorySupervisor of laboratorySupervisors">
                <td>
                    {{laboratorySupervisor.id}}
                </td>
                <td>
                    {{laboratorySupervisor.name}}
                </td>
                <td>
                    {{laboratorySupervisor.surname}}
                </td>
                <td>
                    {{laboratorySupervisor.laboratorySupervisorNumber}}
                </td>
                <td>
                    {{!laboratorySupervisor.isAvailable}}
                </td>
                <td class="text-end">
                    <button [disabled]="isAddingMode || isEditableMode || !laboratorySupervisor.isAvailable"
                        type="button" class="btn btn-outline-primary ms-4 me-2"
                        (click)="edit(laboratorySupervisor)">Edit</button>

                    <button [disabled]="isAddingMode || isEditableMode || !laboratorySupervisor.isAvailable"
                        type="button" class="btn btn-outline-danger mx-2"
                        (click)="archive(laboratorySupervisor.id)">Archive</button>

                    <a [routerLink]="['/laboratory-supervisor', laboratorySupervisor.id, registrantId]"
                        [queryParams]="{isRegistrantMode: true }" *ngIf="!isAddingMode && !isEditableMode"
                        class="btn btn-primary ms-2 me-4">Supervisor's Appointments</a>
                </td>
            </tr>
            <tr *ngIf="laboratorySupervisors.length === 0">
                <td colspan="8">No supervisor</td>
            </tr>
        </tbody>
    </table>
</div>