<!--<p>doctor works!</p>
<div>
    <form [formGroup]="chooseDoctorForm">
        <div class="form-group">
          <label for="doctor">Doctor:</label>
          <select id="doctor" class="form-control" formControlName="doctorId" (change)="onDoctorChange($event)">
            <option *ngFor="let doctor of doctors" [value]="doctor.id">
              {{doctor.id}}
              {{doctor.doctorNumber}}
              {{doctor.name }}
              {{doctor.surname}}
            </option>
          </select>
        </div>
      </form>
</div>

<div class="w-50 d-flex flex-column align-items-center mt-5 mb-5">
    <a *ngIf="isDoctorChosen" [routerLink]="['/doctor-appointments', doctorId]" class="btn btn-success w-50" >Start</a>   
</div> -->
