<h2 class="display-7 d-flex justify-content-center mt-5 mb-3 pt-3 pb-3">Choose patient</h2>

<div>
    <form [formGroup]="choosePatientForm">
        <div class="form-group">
          <label for="patient" class="display-7 d-flex justify-content-center mt-5 mb-3 pt-3 pb-3">Patient:</label>
          <select id="patient" class="form-control" formControlName="patientId" (change)="onPatientChange($event)">
            <option *ngFor="let patient of patients" [value]="patient.id">
              {{patient.id}}
              {{patient.pesel}}
              {{ patient.name }}
              {{patient.surname}}
            </option>
          </select>
        </div>
      </form>
</div>
<div class="w-50 d-flex flex-column align-items-center mt-5 mb-5">
    <a *ngIf="isPatientChosen" [routerLink]="['/patient', patientId]" [queryParams]="{isRegistrantMode: false }" class="btn btn-success w-50" >Start</a>   
</div>

