
<div class="d-flex justify-content-center mx-5 px-5 mb-5">
    <div *ngIf="isVisible">
        <form [formGroup]="doctorForm" >
            <div class="formGroup col-md-2 offset-md-5 d-flex justify-content-center w-100">
                <input formControlName="name" type="string" class="form-control w-100" aria-label="name" 
                    [class.is-invalid]="formName.invalid">
                    <!-- <div class="invalid-feedback">
                        <span *ngIf="formWeight?.errors?.['min']">Min value: 10</span>
                        <span *ngIf="formWeight?.errors?.['max']">Max value: 500</span>
                        <span *ngIf="formWeight?.errors?.['required']">Required</span>
                    </div> -->
                <input formControlName="surname" type="string" class="form-control w-100" aria-label="surname" 
                    [class.is-invalid]="formName.invalid">
                <input formControlName="doctorNumber" type="number" class="form-control w-100" aria-label="doctorNumber" 
                    [class.is-invalid]="formName.invalid">                    
            </div>
            <div>
                <label>Specialisations:</label>
                <div *ngFor="let specialisation of specialisations">
                    <label>
                        <input type="checkbox" [value]="specialisation.id" (change)="onSpecialisationChange($event)" />
                        {{ specialisation.name }}
                    </label>
                </div>
            </div>
    
            <div>
                <label>Selected specialisations:</label>
                <div *ngFor="let selectedSpec of  MedicalSpecialisationsIds">
                    selected specialisations: {{MedicalSpecialisationsIds}}
                </div>
            </div>
            <button type="button" class="btn  btn-success float-right" (click)="update()">Save</button>
        </form>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Doctor
                </th>
                <th>
                   
                </th>
            </tr>

        </thead>
        <tr *ngFor="let doctor of doctors">
            <td>
                {{doctor.doctorNumber}}
                {{doctor.name}}
                {{doctor.surname}}
                {{doctor.specialisation}}
            </td>
            <td>
                <button type="button" class="btn  btn-success float-right" (click)="edit(doctor)">Edit</button>
                <button type="button" class="btn  btn-success float-right" (click)="delete(doctor.id)">Delete</button>
            </td>
        </tr>
        <tr *ngIf="doctors.length === 0">
            <td colspan="8">No doctors</td>
        </tr>
    </table>
</div>