<div class="container">

    <button [disabled]="!authorizationService.isLoggedIn()" type="button" class="btn btn-outline-danger my-4"
        (click)="logout()">Logout</button>
    <h1 class="my-4">Registrant menu</h1>
    <div class="row mt-4">

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
            <div [routerLink]="['/registrant-appointments', registrantId]" class="tile btn btn-primary" type="button">
                <h3>Medical appointments</h3>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
            <div [routerLink]="['/registrant-diagnostic-test-types', registrantId]" class="tile btn btn-primary"
                type="button">
                <h3>Diagnostics Test Types</h3>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
            <div [routerLink]="['/registrant-specialisations', registrantId]" class="tile btn btn-primary"
                type="button">
                <h3>Specialites</h3>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
            <div [routerLink]="['/registrant-doctors', registrantId]" class="tile btn btn-primary" type="button">
                <h3>Doctors</h3>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
            <div [routerLink]="['/registrant-laboratory-appointments', registrantId]" class="tile btn btn-primary"
                type="button">
                <h3>Laboratory appointments</h3>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
            <div [routerLink]="['/registrant-laboratory-test-types', registrantId]" class="tile btn btn-primary"
                type="button">
                <h3>Laboratory Test Types</h3>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
            <div [routerLink]="['/registrant-laboratory-workers', registrantId]" class="tile btn btn-primary"
                type="button">
                <h3>Laboratory workers</h3>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
            <div [routerLink]="['/registrant-laboratory-supervisors', registrantId]" class="tile btn btn-primary"
                type="button">
                <h3>Laboratory supervisors</h3>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
            <div [routerLink]="['/registrant-patients', registrantId]" class="tile btn btn-primary" type="button">
                <h3>Patients</h3>
            </div>
        </div>
    </div>
</div>