<p>registrant works!</p>
<div class="w-50 d-flex flex-column align-items-center mt-5 mb-5">
    <a [routerLink]="['/registrant-patients']" class="btn btn-success w-50" >1. Patients</a>   
</div>
<div class="w-50 d-flex flex-column align-items-center mt-5 mb-5">
    <a [routerLink]="['/registrant-specialisations']" class="btn btn-success w-50" >2. Specialisations</a>   
</div>
<div class="w-50 d-flex flex-column align-items-center mt-5 mb-5">
    <a [routerLink]="['/registrant-doctors']" class="btn btn-success w-50" >3. Doctors</a>   
</div>
<div class="w-50 d-flex flex-column align-items-center mt-5 mb-5">
    <a [routerLink]="['/registrant-appointments']" class="btn btn-success w-50" >4. Medical Appointments</a>   
</div>
