<!-- <div class="container d-flex flex-column justify-content-center align-items-center vh-100">-->
<div class="container">
    <button [disabled]="!authorizationService.isLoggedIn()" type="button" class="btn  btn-success float-right mx-2 mt-5 "
        (click)="logout()">Logout</button>
    <!-- <div *ngIf="authorizationService.isLoggedIn()" (click)="logout()">Logout</div> -->
    <h1 class="my-4">Registrant menu</h1>
    <div class="row mt-4">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
            <div [routerLink]="['/registrant-patients']" class="tile btn btn-success" type="button">
                <h3>Patients</h3>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
            <div [routerLink]="['/registrant-specialisations']" class="tile btn btn-success" type="button">
                <h3>Specialites</h3>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
            <div [routerLink]="['/registrant-doctors']" class="tile btn btn-success" type="button">
                <h3>Doctors</h3>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">
            <div [routerLink]="['/registrant-appointments']" class="tile btn btn-success" type="button">
                <h3>Medical appointments</h3>    
            </div>   
        </div>

        <div class="col-12 col-md-6 col-lg-4 col-xl-3 my-4">   
            <div [routerLink]="['/registrant-diagnostic-test-types']" class="tile btn btn-success" type="button">   
                <h3>Diagnostics Test Types</h3>   
            </div>    
        </div>           
    </div>

    <!--
    <p>registrant works!</p>
    <div class="mb-4 w-50">
        <a [routerLink]="['/registrant-patients']" class="btn btn-success w-100">Patients</a>
        
    </div>

    <div class="mb-4 w-50">       
        <a [routerLink]="['/registrant-specialisations']" class="btn btn-success w-100">Specialisations</a>
    </div>

    <div class="mb-4 w-50">
        <a [routerLink]="['/registrant-doctors']" class="btn btn-success w-100">Doctors</a>
    </div>

    <div class="mb-4 w-50">
        <a [routerLink]="['/registrant-appointments']" class="btn btn-success w-100">Medical Appointments</a>
    </div>   
    <div class="mb-4 w-50">
        <a [routerLink]="['/registrant-diagnostic-test-types']" class="btn btn-success w-100">Diagnostic Test Types</a>
    </div>
    -->

</div>