<p>get-medical-appointments works!</p>

<div class="d-flex justify-content-center mx-5 px-5 mb-5">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Medical appointment Id
                </th>
                <th>
                    Doctor Id
                </th>
                <th>
                    Patient Id
                </th>
                <th>
                   
                </th>
            </tr>

        </thead>
        <tr *ngFor="let medicalAppointment of medicalAppointments">
            <td>
                Med Ap Id: {{medicalAppointment.id}}
                DoctorId: {{medicalAppointment.doctorId}}
                PatientId: {{medicalAppointment.patientId}}
                Time: {{medicalAppointment.dateTime}}

            </td>
            <td>
                <!-- <button type="button" class="btn  btn-success float-right" (click)="edit(medicalAppointment)">Edit</button> -->
                <button type="button" class="btn  btn-success float-right" (click)="delete(medicalAppointment.id)">Delete</button>
            </td>
        </tr>
        <tr *ngIf="medicalAppointments.length === 0">
            <td colspan="8">No medical appointments</td>
        </tr>
    </table>
</div>