<p>doctor-appointments works!</p>

<div class="d-flex justify-content-center mx-5 px-5 mb-5">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Future appointments:
                </th>
                <th>
                   
                </th>
            </tr>

        </thead>
        <tr *ngFor="let futureAppointment of allMedicalAppointments.futureMedicalAppointments">
            <td>
                Time: {{futureAppointment.dateTime}}
                Patient Id: {{futureAppointment.patientId}}
            </td>
            <td>
                <!-- <button type="button" class="btn  btn-success float-right" (click)="cancel(futureAppointment)">Cancel</button> -->
                <!--<a [routerLink]="['/appointment-details', futureAppointment.id, true]" class="btn btn-success w-50" >Details</a>   -->
                <a [routerLink]="['/appointment-details', futureAppointment.id]" [queryParams]="{ isEditable: true }" class="btn btn-success w-50">Details</a>

            </td>
        </tr>
        <tr *ngIf="allMedicalAppointments.futureMedicalAppointments.length === 0">
            <td colspan="8">No future medical appointments</td>
        </tr>
    </table>
</div>

<div class="d-flex justify-content-center mx-5 px-5 mb-5">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>
                    Past appointments:
                </th>
                <th>
                </th>
            </tr>

        </thead>
        <tr *ngFor="let pastAppointment of allMedicalAppointments.pastMedicalAppointments">
            <td>
                Time: {{pastAppointment.dateTime}}
                Patient Id: {{pastAppointment.patientId}}
            </td>
            <td>
                <a [routerLink]="['/appointment-details', pastAppointment.id]" [queryParams]="{ isEditable: false }" class="btn btn-success w-50">Details</a>


                <!-- <a [routerLink]="['/appointment-details', pastAppointment.id, false]" class="btn btn-success w-50" >Details</a>   -->
            </td>
        </tr>
        <tr *ngIf="allMedicalAppointments.pastMedicalAppointments.length === 0">
            <td colspan="8">No past medical appointments</td>
        </tr>
    </table>
</div>